.list {
  padding-left: 3px;
  padding-right: 3px;
  flex: 0 0 auto;
  width: 300px;
  float: left;
  position: relative;
}

.list .panel {
  position: relative;
}

.list .panel-heading {
  border-top: 4px solid #facc75;
  text-align: left;
  background: #fff;
  border-bottom: 0;
  font-size: 15px;
  font-weight: 500;
}

.list .panel-heading .counter {
  background: #facc75;
  color: #fff;
  display: inline-block;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

.list .panel-body {
  padding: 0 15px 5px 15px;
}

.list .panel-body .tasksList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  display: inline-block;
  float: right;
}

.menu > .dropdown > button {
  padding: 0;
  color: #000;
}

.menu .caret {
  display: none; /* remove default bootstrap caret from dropdown */
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(199, 224, 40, 0.15);
  z-index: 10;
}

.mask.isOver {
  background: rgba(24, 201, 65, 0.15);
}
