.board {
  padding: 10px 20px;
  height: calc(100vh - 102px);
  display: flex;
  width: auto;
  overflow-x: auto;
  overflow-y: hidden;
}

.board:after {
  clear: both;
  content: '';
  display: block;
}

@media only screen and (max-device-width : 768px) {
  .board {
    display: block;
    height: auto;
    overflow: visible;
  }
}
