.navbar {
  background-color: #fff;
  border-radius: 0;
  margin-bottom: 0;
}

.headerForm * {
  margin: 8px 8px 0px 0px;
}

@media only screen and (max-device-width : 1024px) {
  .userInfo {
    display: none;
  }
}

@media only screen and (max-device-width : 768px) {
  .navbar-header {
    float: left;
    margin-right: 15px;
  }

  .headerForm {
    float: right;
    margin: 0;
  }

  .headerForm .btn {
    padding: 2px;
    margin-right: 3px;
    margin-top: 10px;
  }
}
